<div class="card border-success mb-3" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-success"><%=@book.title%></div>
  <div class="card-body text-success">
    <h5 class="card-title">Descripción: <%= @book.description %> </h5>
    <h5 class="card-title">Idioma: <%= @book.language %> </h5>
    <h5 class="card-title">Paginas: <%= @book.pages %> </h5>
  </div>
</div>