

<table class="table">
  <thead class="table-dark">
  <tr>
    <th>Categoria</th>
    <th>Descripción</th>
    <th>Acciones</th>
  </tr>
  </thead>

  <tbody>
  <% @categories.each do |category| %> <tr>
    <td><%= category.category %></td>
    <td><%= category.description %></td>
    <td><%=link_to "Mostrar", action: 'show', id:category.id %></td>
  </tr>
  <% end %>
  </tbody>
</table>