
<table class="table">
  <thead class="table-dark">
  <tr>
    <th>Editorial</th>
    <th>Pais</th>
    <th>Telefono</th>
    <th>Acciones</th>
  </tr>
  </thead>

  <tbody>
  <% @editorials.each do |editorial| %> <tr>
    <td><%= editorial.name %></td>
    <td><%= editorial.country %></td>
    <td><%= editorial.phone %></td>
    <td><%=link_to "Mostrar", action: 'show', id:editorial.id %></td>
  </tr>
  <% end %>
  </tbody>
</table>